.service-card:hover{
    background: linear-gradient(75deg, #FBD062,#ebc158);
    color: black !important;
    box-shadow: 5px 5px 10px grey;
}

.service-card:hover .service-task-img{
    -webkit-animation:spin 1s linear infinite;
    -moz-animation:spin 1s linear infinite;
    animation:spin 1s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }